/* Main stylesheet for Pizzatio */


/*
 * Baseline
 * ================== */

html {
  font-family: Palatino, Georgia, serif;
  line-height: 1.4;
}
body {
  margin: 0;
  background-image: url('../img/textures/dark-wood.jpg');
  background-color: #180e0f;
  color: #0b0b0b;
}
img {
  max-width: 100%;
}
h1 {
  line-height: 1;
  font-size: 2.4em;
  margin: .8em 0 .1em
}
/* End Baseline */




/*
 * Subscriptions
 * ================== */

.clearfix:before,
.clearfix:after,
.vessel:before,
.vessel:after,
[role='contentinfo'] dl:before,
[role='contentinfo'] dl:after,
.row:before,
.row:after,
.gallery-thumbnails:before,
.gallery-thumbnails:after {
  content: '';
  display: table;
}
.clearfix:after,
.vessel:after,
[role='contentinfo'] dl:after,
.row:after,
.gallery-thumbnails:after {
  clear: both;
}

.vessel,
.row,
.gallery-thumbnails li {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* End Subscriptions */




/*
 * Persistent
 * ================== */

[role='banner'] {
  background-color: #240f0e;
  margin: 1.5em 0 2em;
}
[role='banner'] .vessel,
[role='contentinfo'] .vessel {
  background-color: transparent;
  background-image: none;
}
[role='banner'] .vessel {
  padding: 0;
}
[role='banner'] .brand {
  position: absolute;
  left: -1.5em;
  top: -6.3em;
}
[role='banner'] .brand img {
}
[role='banner'] nav {
  font-size: 1.75em;
}
[role='navigation'] {
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
[role='navigation'] li {
  float: left;
}
[role='navigation'] a {
  display: block;
  padding: 1em .75em;
  color: #e8d8b4;
  text-decoration: none;
}
[role='navigation'] a:hover {
  background-color: #27333c;
}

main .vessel {
  min-height: 7em;
}

[role='contentinfo'] {
  background-color: #871103;
  color: #e8d8b4;
  font-size: 1.2em;
}
[role='contentinfo'] dl {
  margin: 1.25em 0;
}
[role='contentinfo'] dt {
  float: left;
  clear: left;
  min-width: 9em;
  padding: 0 1em 0 0;
}
[role='contentinfo'] dd {
  float: left;
  margin: 0;
}
.copyright {
  position: absolute;
  right: 1.5em;
  bottom: 1.35em;
}

/* End Persistent */




/*
 * Modular
 * ================== */

.vessel {
  position: relative;
  max-width: 57rem;
  padding: .1em 1.5em;
  margin: 0 auto;
  background-image: url('../img/textures/cream.png');
  background-color: #fafafa;
}
.brand {
  width: 300px;
  display: inline-block;
}
.brand img {
  width: 100%;
}

.row {
  margin: 0 -0.5em;
}
.row.wider-separation {
  margin: 0 -1.25em;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  float: left;
  padding: 0 .5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row.wider-separation .col-1,
.row.wider-separation .col-2,
.row.wider-separation .col-3,
.row.wider-separation .col-4,
.row.wider-separation .col-5,
.row.wider-separation .col-6 {
  padding: 0 1.25em;
}
.col-1 {
  width: 16.666666666666668%;
}
.col-2 {
  width: 33.333333333333336%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66666666666667%;
}
.col-5 {
  width: 83.33333333333333%;
}
.col-6 {
  width: 100%;
}

.discount {
}
.discount ins {
  font-weight: bold;
  text-decoration: none;
}
.discount del {
  text-decoration: line-through;
  opacity: 0.5;
}

#cta {
  padding: 0.75em .5em;
  font-size: 2em;
  text-align: center;
}
#cta p {
}

article {
  font-size: 1.1em;
  padding: 0 0 1.5em 0;
}
article header {
  font-size: 1.75em;
  line-height: 1;
}
article header h1 {
  font-size: 1.6em;
  margin: .8em 0 0 0;
}
article header h2 {
  font-size: 1em;
  margin: .25em 0 1em 0;
}
.entry-content {
}
.entry-content p {
}
.article-image {
  float: right;
  margin: 0 0 .5em 1.25em;
}

.gallery-thumbnails {
  padding: 1.2em 0;
  margin: 0 -.5em;
  list-style-type: none;
}
.gallery-thumbnails li {
  width: 33.333333333333336%;
  float: left;
  padding: .4em .5em;
}
.gallery-thumbnails a {
}
.gallery-thumbnails img {
  display: block;
}

/* End Modular */




/*
 * Specific page: Landing
 * ================== */

#elevator {
  font-size: 1.75em;
}
.jorge-avatar {
  margin: 1em 0 0 0;
}
#elevator h1 {
  font-size: 2.25em;
  margin: .7em 0 .3em 0;
}
#elevator p {
  margin: .2em 0 0 0;
}

#offer {
  position: relative;
  margin: 2em 0 0 0;
}
#offer .row {
  background-color: #e8d8b4;
}
#offer .row .col-3:first-child {
  padding-left: 0;
}
#offer h2 {
  position: absolute;
  top: 1.8em;
  right: -1.3em;
  padding: .3em .6em;
  margin: 0;
  font-size: 1.75em;
  background-color: #871103;
  color: #e8d8b4;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: 100% 50% 0;
     -moz-transform-origin: 100% 50% 0;
          transform-origin: 100% 50% 0;
}
#offer h2 a {
  color: #e8d8b4;
  text-decoration: none;
}
#offer h2 a:hover {
  text-decoration: underline;
}
#offer img {
  display: block;
}
.offer-details {
  font-size: 1.4em;
  line-height: 1.25;
}
.offer-details strong {
  display: block;
  margin: 1em 0 0.3em;
  font-size: 1.6em;
}
.offer-details p {
  margin: 0;
}
.offer-details .discount {
  float: right;
  margin: .3em .4em 0 0;
  font-size: 1.6em;
}

/* End Specific page: Landing */




/*
 * Specific page: Menu
 * ================== */

#menu-list h1 {
  margin: 1em 0 1.25em 0;
  font-size: 2.25em;
}
.menu-list {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2;
  list-style-type: none;
}
.menu-list li {
  margin: 0 0 .8em;
}
.menu-list span {
  display: block;
  position: relative;
}
.menu-list strong {
  display: block;
  border-bottom: .15em dotted #ccc;
}
.menu-list b {
  position: absolute;
  right: 0;
  top: 0;
}
.menu-list small {
  display: block;
  min-height: 2.4em;
  padding: .2em 0 0 0;
  font-size: .9em;
  color: #666;
}
/* End Specific page: Menu */




/*
 * Specific page: Fotos
 * ====================== */

#galleryModalBackground {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
  padding: 0 1.5em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-active #galleryModalBackground {
  display: block;
}
#galleryModal {
  max-width: 832px;
  margin: 7% auto 0;
  position: relative;
}
#galleryModal img {
  display: block;
  border: 16px solid #fff;
}
#galleryModal span {
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  width: 1.4em;
  font-size: 1.8em;
  line-height: 1.4;
  text-align: center;
  font-weight: bold;
  border-radius: 1em;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .4);
}

/* End Specific page: Fotos */


/*
 * Media queries
 * ================== */

/* End Media queries */




/*
 * Print
 * ================== */

/* End Print */











/*
 * x
 * ================== */

/* End x */


/*
 * Specific page: x
 * ================== */

/* End Specific page: x */
