main {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  width: 22em;
  background-color: #fcc;
}

#alpha {
  top: 1em;
  left: 1em;
}
#beta {
  top: 5em;
  left: 16em;
}
#charlie {
  top: 12em;
  left: 3em;
}
#delta {
  top: 16em;
  left: 18em;
}
