body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.4em;
  line-height: 1.4;
}
.fly {
  position: absolute;
  width: 7em;
  height: 4em;
  padding: 1.5em;
}
#alpha {
  background-color: #ffc;
}
#beta {
  background-color: #fcf;
}
#charlie {
  background-color: #cff;
}
#delta {
  background-color: #cfc;
}
